.input-cell {
  position: relative;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #999;
  width: 100%;
  &.no-border {
    border-bottom: 0;
  }
  &__label {
    flex-shrink: 0;
    line-height: 30px;
  }
  .input {
    flex: 1;
    box-sizing: content-box;
    background-color: transparent;
    padding: 0 10px;
    background-clip: content-box;
    height: 30px;
    overflow: hidden;
    &.textarea {
      height: 90px;
      border: 1px solid #333;
    }
  }
  input ~ .input-cell__line {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: -1px;
    height: 1px;
    width: 0;
    background: #333;
    transform: translateX(-50%);
    transform-origin: right center;
    transition: width 0.5s ease-in-out;
  }
  input:focus ~ .input-cell__line {
    width: 100%;
    transform-origin: left center;
  }
  &__slot {
    // padding: 0 10px;
  }
}