.sign-page {
  background: url('~@/assets/images/bg.jpg') no-repeat center;
  background-size: cover;
}
.panel-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, .7);
  backdrop-filter: blur(8px);
  min-width: 300px;
  max-width: 80%;
  border-radius: 4px;
  .panel-container {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    &__header {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    &__input {
      .input__cell {
        margin-bottom: 15px;
        align-items: flex-end;
        /deep/ img {
          width: 1rem;
        }
      }
    }
    &__btn {
      display: block;
      margin: 20px auto;
    }
    &__tip {
      display: inline-block;
      line-height: 20px;
      cursor: pointer;
      color: #666;
    }
  }
}