//修改滚动条样式
.scrollbar {
  &::-webkit-scrollbar {
    width: 4px;  /* 纵向滚动条宽度 */
    height: 4px; /* 横向滚动条宽度 */
    background: #303942;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #303942;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #272f36;
  }
}

.iconfont {
  font-size: 20px;
}

$emoji-size: 25px;
.emoji-icon {
  display: inline-block;
  width: $emoji-size;
  height: $emoji-size;
  background: url('~@/assets/images/biaoqing.png');
  background-size: $emoji-size auto;
  background-repeat: no-repeat;
  vertical-align: middle;
}